body {
    background: #acced6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

td {
    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    font-weight: bold;
    font-size: 15px;
}

td:hover {
    background-color: #acced6;
    border: 1px solid white;
}