body {
    background: #8abeb4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}